@{
    Layout = "~/Views/Shared/Admin.cshtml";
}

<div class="notification-container">
    <table class="notification-table">
        <thead>
            <tr>
                <th class="left-align">All</th>
                <th class="right-align">Date</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>Ethan Lacre left a comment on your post.</td>
                <td>Dec 5</td>
            </tr>
            <tr>
                <td>A new request has been made for maintenance of the facility.</td>
                <td>Dec 5</td>
            </tr>
            <tr>
                <td>Kevin Asendiente voted on your poll.</td>
                <td>Dec 5</td>
            </tr>
            <tr>
                <td>A new request has been made to book the facility.</td>
                <td>Dec 5</td>
            </tr>
            <tr>
                <td>A new request has been made to book the facility.</td>
                <td>Dec 5</td>
            </tr>
            <tr>
                <td>Angelito Lingo has completed the payment for the facility reservation.</td>
                <td>Dec 5</td>
            </tr>
            <tr>
                <td>Hersheys Gaboy left a comment on your post.</td>
                <td>Dec 5</td>
            </tr>
            <tr>
                <td>Jhana Catabas voted on your poll.</td>
                <td>Dec 5</td>
            </tr>
            <tr>
                <td>A new request has been made for maintenance of the facility.</td>
                <td>Dec 5</td>
            </tr>
            <tr>
                <td>John Cena left a comment on your post.</td>
                <td>Dec 5</td>
            </tr>
            <tr>
                <td>A new request has been made to book the facility.</td>
                <td>Dec 5</td>
            </tr>
            <tr>
                <td>Chappel Roan left a comment on your post.</td>
                <td>Dec 5</td>
            </tr>
            <tr>
                <td>Jhade Sebios has completed the payment for the facility reservation.</td>
                <td>Dec 5</td>
            </tr>
            <tr>
                <td>Kebin da great mabowhay</td>
                <td>Dec 5</td>
            </tr>
        </tbody>
    </table>
</div>