@{
    Layout = "~/Views/Shared/Admin.cshtml";
}

<!-- Post Input -->
<div class="post-input" id="postInput">
    <div class="post-input-content">
        <img src="~/image/Profile/profile1.jpg" alt="Profile">
        <input type="text" placeholder="Write something..." readonly>
    </div>
</div>

<!-- Modal -->
<div id="postModal" class="modal">
    <div class="modal-content">
        <div class="modal-header">
            <h2 class="modal-title">Create post</h2>
            <button class="close">&#10005;</button>
            <hr />
        </div>
        <div class="modal-body">
            <div class="modal-post-input">
                <div class="user-details">
                    <img src="~/image/Profile/profile1.jpg" alt="Profile">
                    <p class="username">Cillian Murphy</p>
                </div>
                <div class="context">
                    <textarea id="modalPostInput" placeholder="Write something..."></textarea>
                </div>
            </div>
            <button class="add-to-post">Add to your post</button>
            <button id="modalPostButton">Post</button>
        </div>
    </div>
</div>

