@{
    Layout = "~/Views/Shared/Admin.cshtml";
}


<div class="profile-card">
    <img src="~/image/Profile/profile1.jpg" class="profile-image">
    <div class="profile-info">
        <h2>Personal Information</h2>
        <div class="info-field">
            <label>Name</label>
            <div class="field-value">Cillian Murphy</div>
        </div>
        <div class="info-field">
            <label>Email</label>
            <div class="field-value">cillianmurphy@gmail.com</div>
        </div>
        <div class="info-field">
            <label>Phone</label>
            <div class="field-value">09616333808</div>
        </div>
        <div class="info-field">
            <a href="#" class="change-password">Change password</a>
        </div>
    </div>
    <div class="edit-button">
        <i class="fas fa-pencil-alt"></i>
    </div>
</div>
