@{
    Layout = "~/Views/Shared/Admin.cshtml";
}


<div class="container">
    <div class="tabs">
        <div class="tab active">Facilities</div>
        <div class="tab">Requests</div>
    </div>
    <ul class="facility-list">
        <li class="facility-item"><img src="basketball.png" alt=""> <span class="facility-name">Basketball Court</span> <span class="options">&#x22EE;</span></li>
        <li class="facility-item"><img src="tennis.png" alt=""> <span class="facility-name">Tennis Court</span> <span class="options">&#x22EE;</span></li>
        <li class="facility-item"><img src="hall.png" alt=""> <span class="facility-name">Function Hall</span> <span class="options">&#x22EE;</span></li>
        <li class="facility-item"><img src="pool.png" alt=""> <span class="facility-name">Swimming Pool</span> <span class="options">&#x22EE;</span></li>
        <li class="facility-item"><img src="badminton.png" alt=""> <span class="facility-name">Badminton Court</span> <span class="options">&#x22EE;</span></li>
        <li class="facility-item"><img src="playground.png" alt=""> <span class="facility-name">Playground</span> <span class="options">&#x22EE;</span></li>
        <li class="facility-item"><img src="gym.png" alt=""> <span class="facility-name">Fitness Gym</span> <span class="options">&#x22EE;</span></li>
        <li class="facility-item"><img src="sauna.png" alt=""> <span class="facility-name">Sauna</span> <span class="options">&#x22EE;</span></li>
        <li class="facility-item"><img src="church.png" alt=""> <span class="facility-name">Church</span> <span class="options">&#x22EE;</span></li>
    </ul>
    <a href="#" class="add-btn">Add Facility +</a>
</div>