@{
    Layout = "~/Views/Shared/security.cshtml"; // Set the layout at the top
}


<div class="card">
    <div class="card-header">
        <h1>Find your account</h1>
        <p>Please enter your email to search for your account.</p>
    </div>
    <hr class="divider">
    <div class="card-body">
        <div class="form-group">
            <div class="floating-label">
                <input type="email" class="form-control" placeholder="">
                <label for="Email">Email</label>
            </div>
        </div>
        <div class="button-group">
            <button class="btn btn-cancel" onclick="location.href='@Url.Action("Login", "Home")'">Cancel</button>
            <button class="btn btn-search" onclick="location.href='@Url.Action("Code", "Home")'">Search</button>
        </div>
    </div>
</div>