@{
    Layout = "~/Views/Shared/register.cshtml";
}

<div class="logo">
    <img src="~/image/logo.png" alt="Logo">
</div>
<div class="container">
    <div class="header">
        <h1>Create a new account</h1>
        <p>It's quick and easy.</p>
    </div>
    <div class="divider"></div>
    <form>
        <div class="form-group name-group">
            <div class="floating-label">
                <input type="text" placeholder="">
                <label for="First Name">First Name</label>
            </div>
            <div class="floating-label">
                <input type="text" placeholder="">
                <label for="Last Name">Last Name</label>
            </div>
        </div>
        <div class="form-group name-group">
            <div class="floating-label">
                <input type="text" placeholder="">
                <label for="H.No">H.No</label>
            </div>
            <div class="floating-label">
                <input type="text" placeholder="">
                <label for="Blk.">Blk.</label>
            </div>
        </div>
        <div class="floating-label">
            <input type="text" placeholder="">
            <label for="Street">Street</label>
        </div>

        <div class="form-group-email">
            <div class="floating-label">
                <input type="text" placeholder="">
                <label for="Email">Email</label>
            </div>
        </div>

        <div class="form-group-password">
            <div class="floating-label">
                <input type="text" placeholder="">
                <label for="Password">Password</label>
            </div>
        </div>

        <button type="submit">Sign Up</button>

        <div class="login-link">
            <a href="@Url.Action("login", "Home")" class="btn btn-outline">Already Have An Account?</a>
        </div>
    </form>
</div>
