@{
    Layout = "~/Views/Shared/Admin.cshtml";
}


<div class="container">
    <div class="tabs1">
        <a href="@Url.Action("AdminUserManagement", "Home")" class="tab1">
            Homeowners
        </a>
        <a href="@Url.Action("Staff", "Home")" class="tab1">
            Staff
        </a>
    </div>
    <ul class="facility-list">
        <li class="facility-item"><img src="~/image/Profile/profile1.jpg" alt=""> <span class="facility-name">Angelito lingo</span> <span class="options">&#x22EE;</span></li>
        <li class="facility-item"><img src="~/image/Profile/profile1.jpg" alt=""> <span class="facility-name">Angelito lingo</span> <span class="options">&#x22EE;</span></li>
        <li class="facility-item"><img src="~/image/Profile/profile1.jpg" alt=""> <span class="facility-name">Angelito lingo</span> <span class="options">&#x22EE;</span></li>
        <li class="facility-item"><img src="~/image/Profile/profile1.jpg" alt=""> <span class="facility-name">Angelito lingo</span> <span class="options">&#x22EE;</span></li>
        <li class="facility-item"><img src="~/image/Profile/profile1.jpg" alt=""> <span class="facility-name">Angelito lingo</span> <span class="options">&#x22EE;</span></li>
        <li class="facility-item"><img src="~/image/Profile/profile1.jpg" alt=""> <span class="facility-name">Angelito lingo</span> <span class="options">&#x22EE;</span></li>
        <li class="facility-item"><img src="~/image/Profile/profile1.jpg" alt=""> <span class="facility-name">Angelito lingo</span> <span class="options">&#x22EE;</span></li>
        <li class="facility-item"><img src="~/image/Profile/profile1.jpg" alt=""> <span class="facility-name">Angelito lingo</span> <span class="options">&#x22EE;</span></li>
        <li class="facility-item"><img src="~/image/Profile/profile1.jpg" alt=""> <span class="facility-name">Angelito lingo</span> <span class="options">&#x22EE;</span></li>
    </ul>
    <a href="#" class="add-btn">Add Staff +</a>
</div>

