@{
    Layout = "~/Views/Shared/Admin.cshtml";
}


<div class="container">
    <div class="tabs1">
        <a href="@Url.Action("AdminUserManagement", "Home")" class="tab1">
            Homeowners
        </a>
        <a href="@Url.Action("Staff", "Home")" class="tab1">
            Staff
        </a>
    </div>
    <ul class="facility-list">
        <li class="facility-item"><img src="~/image/Profile/profile1.jpg" alt=""> <span class="facility-name">Angelito lingo</span> <span class="options">&#x22EE;</span></li>
        <li class="facility-item"><img src="~/image/Profile/profile1.jpg" alt=""> <span class="facility-name">Angelito lingo</span> <span class="options">&#x22EE;</span></li>
        <li class="facility-item"><img src="~/image/Profile/profile1.jpg" alt=""> <span class="facility-name">Angelito lingo</span> <span class="options">&#x22EE;</span></li>
        <li class="facility-item"><img src="~/image/Profile/profile1.jpg" alt=""> <span class="facility-name">Angelito lingo</span> <span class="options">&#x22EE;</span></li>
        <li class="facility-item"><img src="~/image/Profile/profile1.jpg" alt=""> <span class="facility-name">Angelito lingo</span> <span class="options">&#x22EE;</span></li>
        <li class="facility-item"><img src="~/image/Profile/profile1.jpg" alt=""> <span class="facility-name">Angelito lingo</span> <span class="options">&#x22EE;</span></li>
        <li class="facility-item"><img src="~/image/Profile/profile1.jpg" alt=""> <span class="facility-name">Angelito lingo</span> <span class="options">&#x22EE;</span></li>
        <li class="facility-item"><img src="~/image/Profile/profile1.jpg" alt=""> <span class="facility-name">Angelito lingo</span> <span class="options">&#x22EE;</span></li>
        <li class="facility-item"><img src="~/image/Profile/profile1.jpg" alt=""> <span class="facility-name">Angelito lingo</span> <span class="options">&#x22EE;</span></li>
    </ul>
    <a href="#" class="add-btn">Add Staff +</a>
</div>

<script>
    document.addEventListener("DOMContentLoaded", function () {
        // Get all tab links
        const tabs = document.querySelectorAll(".tab1");

        // Get current page URL
        const currentUrl = window.location.href;

        // Loop through tabs and set active class
        tabs.forEach(tab => {
            if (tab.href === currentUrl) {
                tab.classList.add("active");
            }

            // Add click event to set active state
            tab.addEventListener("click", function () {
                tabs.forEach(t => t.classList.remove("active"));
                this.classList.add("active");
            });
        });
    });
</script>

